HF_TOKEN="Your huggingface api-key"
GOOGLE_API_KEY="Your google ai studio api-key"

# My only-read key and endpoint to my cloud qdrant cluster (Uncomment below to start using)
# QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJyIiwic3ViamVjdCI6ImFwaS1rZXk6Mzg0NzkyNGEtZGMwOC00MzYyLWFkNGUtMDE4NWYwZDdlMjFhIn0.L6uoTrEcCQxRTD2xonWudJgi-qwv1gnTgbbYWZd-rm8
# QDRANT_URL=https://5e40f243-228a-4e72-8622-08555f220d73.eu-central-1-0.aws.cloud.qdrant.io

# If you want to use locally, change qdrant_url
# QDRANT_URL=http://lawrag_db:6333